
    <form action="">
        <div class="row justify-content-md-center">


            <div class="row ">
                <div class="col-lg-12">
                    <input id="Offre" type="radio" name="typeSearch" value="Offre">
                    <label for="Offre">Offre</label>
                    <input id="Demande" type="radio" name="typeSearch" value="Demande">
                    <label for="Demande">Demande</label>

                </div>
                <div class="col-lg-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Rechercher des annonces</span>
                        </div>
                        <input type="text" name="annonce" class="form-control" aria-label="Que recherchez-vous ?" placeholder="Que recherchez-vous ?">
                        <input type="text" class="form-control" name="zone" aria-label="Saisir ville" placeholder="Saisir ville">
                        <input type="submit" value="Rechercher">
                    </div>
                </div>
            </div>
        </div>
    </form>
